Python

pycache/
*.pyc
*.pyo
*.pyd
*.sqlite3

Ambientes virtuais

venv/
env/
.venv/

Jupyter

.ipynb_checkpoints/

Config e IDEs

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

Sistema

.DS_Store
Thumbs.db

Secrets
.dbf
.db
.env